@page
@model pypSln.App.frontend.Pages.DetalleHistrorialModel
@{
}
<a asp-page="./Historial" class ="btn-default">Volver</a>
<div class="text-center"><h1>Historial</h1></div>
<div>
    Id Historia VisitaPYP                                  =>      @Model.visitapyps.Id

</div>
<div>
    Id Ovino                                  =>      @Model.visitapyps.Id_ovino

</div>
<div>
    Id Propietario                                  =>      @Model.visitapyps.Id_propietario

</div>
<div>
</div>
<div>
    Id Veterinario                                  =>      @Model.visitapyps.Id_veterinario

</div>
<div>
    Fecha                                  =>      @Model.visitapyps.fecha

</div>
<div>
    Temperatura                                  =>     @Model.visitapyps.Temperatura

</div>
<div>
    Peso                                  =>      @Model.visitapyps.peso
</div>
<div>
    Frec. Respiratoria                                  =>      @Model.visitapyps.Fre_respiratoria

</div>
<div>
</div>
<div>
    Frec. Cardiaca                                  =>      @Model.visitapyps.Fre_cardiaca

</div>
<div>
    Estado                                  =>      @Model.visitapyps.Estado

</div>
<div>
    Recomendaciones                                  =>     @Model.visitapyps.Recomendaciones

</div>
<div>
    Formula                                  =>      @Model.visitapyps.formula
</div>